:root {
	/* Base Colors */
	--dark: #222222;
	--light: #F1EEE7;
	--shadow: rgba(0, 0, 0, 0.125);
	--checker: rgba(0, 0, 0, 0.05);

	/* Accent Colors */
	--purple: #9c528b;
	--red: #EF626C;
	--pink: #EFB9CB;
	--green: #7AA095;
	--blue: #6D72C3;

	/* Proper Variables */
	--bg: var(--light);
	--fg: var(--dark);
	--accent: var(--purple);

}

::selection {
  background: var(--accent);
  color: var(--bg);
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

@media (prefers-color-scheme: dark) 
{
	:root {
		--bg: var(--dark);
		--fg: var(--light);
	}
}

body {
	font-family: "Kosugi Maru", sans-serif;
	font-size: 18px;
	max-width: 36rem;
	margin: 3rem auto;
	color: var(--fg);
	background: var(--bg);

	background-image:
      -moz-linear-gradient(90deg, var(--checker) 25%, transparent 25%), 
      -moz-linear-gradient(-90deg, var(--checker) 25%, transparent 25%),
      -moz-linear-gradient(90deg, transparent 75%, var(--checker) 75%),
      -moz-linear-gradient(-90deg, transparent 75%, var(--checker) 75%);
    background-image:
      -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, var(--checker)), color-stop(.25, transparent)), 
      -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, var(--checker)), color-stop(.25, transparent)),
      -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, var(--checker))),
      -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, var(--checker)));

    background-size: 25px 25px;
    
    background-position:0 0, 12.5px 0, 12.5px -12.5px, 0px 12.5px;
}

main {
	background: var(--bg);
	border: 4px solid var(--fg);
	box-shadow: 0 0 0 4px var(--accent);
	border-radius: 12px;
	padding: 0 20px;
}

h1 {
	font-family: "Fredoka One", cursive;
	font-size: 42px;
	margin: 0;
}

#tiltedTop {
	transform: rotate(-4deg);
	margin-top: 1rem;
}
#topText {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#socialLinks {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 1rem;
}
#socialLinks > a {
	margin-right: 1rem;
	color: var(--fg);
	transition: margin-top 0.1s ease,
				text-shadow 0.1s ease;
}
#socialLinks > a:hover {
	transition: margin-top 0.1s ease,
				text-shadow 0.1s ease;
	text-shadow: -0.2rem 0.375rem 0 var(--shadow);
	margin-top: -0.75rem;

	animation: wiggle 2s infinite;
}
#git {
	font-size: 42px;
	
}
#twit {
	font-size: 36px;
}

#headerLine {
	position: relative;
	top: -1rem;
}
#headerLine > g > g {
	stroke: var(--fg);
}

.bigShadow {
	text-shadow: -2px 2px 0 var(--shadow);
}

.smallShadow {
	text-shadow: -1px 1px 0 var(--shadow);
}

#navList {
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0;
	position: relative;
	top: -1rem;
	justify-content: flex-end;
}
#navList > li {
	margin-right: 12px;
}

.navLink {
	display: flex;
	color: var(--fg);
	text-decoration: none;
}
.navLink > i {
	margin-right: 4px;
}

.navLink:hover > i {
	animation: wiggle 1s infinite;
}

.navLink:hover {
	text-decoration: underline;
}

nav {
	height: 0;
}
