<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{title}}mattia.id</title>
		<link href=data:, rel=icon>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="Description" content="{{description}}">
		{{#fonts}}
		<link
			rel="preload"
			as="font"
			type="font/{{type}}"
			href="{{{path}}}"
			crossorigin
		/>
		{{/fonts}}
		{{#css}}
		<link
			rel="stylesheet"
			type="text/css"
			href="{{{.}}}"
		/>
		{{/css}}
	</head>
	<body class="checkerboard">
		<main{{#accent}} class="{{accent}}"{{/accent}}>
			<header>
				<section id="tiltedTop">
					<div id="topText" class="bigShadow">
						<a href="/" id="homeLink" class="hoverFloat"
							><h1>Mattia Schiano</h1></a
						>
						<aside id="socialLinks">
							<a
								id="git"
								href="https://github.com/matteron"
								aria-label="Github"
								class="hoverFloat slowWiggle"
							>
								<i class="icon i-github"></i>
							</a>
							<a
								id="twit"
								href="https://twitter.com/mattiaschiano_"
								aria-label="Twitter"
								class="hoverFloat slowWiggle"
							>
								<i class="icon i-twitter"></i>
							</a>
						</aside>
					</div>
					<svg
						version="1.1"
						viewBox="0 0 525 4"
						xmlns="http://www.w3.org/2000/svg"
						id="headerLine"
					>
						<g
							fill="none"
							fill-rule="evenodd"
							stroke-dasharray="12"
							stroke-linecap="round"
							stroke-opacity=".35"
						>
							<g
								transform="translate(-235 -369)"
								stroke="#222"
								stroke-width="4"
								id="headerLineColor"
							>
								<g transform="translate(237 320)">
									<path d="m0 51h550" />
								</g>
							</g>
						</g>
					</svg>
				</section>
				<nav>
					<ul class="bigShadow" id="navList">
						<li>
							<a href="about.html" class="navLink{{#location.about}} location{{/location.about}}">
								<i class="icon i-user fastWiggle"></i>
								<span>About</span>
							</a>
						</li>
						<li>
							<a href="projects.html" class="navLink{{#location.projects}} location{{/location.projects}}">
								<i class="icon i-umbrella fastWiggle"></i>
								<span>Projects</span>
							</a>
						</li>
					</ul>
				</nav>
			</header>
			<article 
				class="smallShadow{{^location.projects}} markdown{{/location.projects}}"
				{{#location.projects}}id="projectList"{{/location.projects}}
			>
				{{{ body }}}
			</article>
		</main>
	</body>
</html>
