<h2>little of this and that</h2>
{{#projects}}
<section class="projectEntry">
	<div>
		img here ♪
	</div>
	<div class="projectInfo">
		<h3 class="projectTitle">
			<a href="blog/{{link}}">{{name}}</a>
		</h3>
		<p class="projectDesc">{{desc}}</p>
	</div>
</section>
{{/projects}}